name: Publish

on:
    push:
        branches: ["main"]

permissions:
    contents: write
    pull-requests: write
    id-token: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 10

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  # This executes the actual publish command when the Version Packages PR is merged
                  publish: npm run release
                  commit: "chore: version packages"
                  title: "chore: version packages"
              env:
                  # required for creating the PR
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
